# Alpaca
API_KEY_ALPACA=
API_SECRET_ALPACA=

# TradeLocker
TRADELOCKER_ACCESS_TOKEN=
TRADELOCKER_EMAIL=
TRADELOCKER_PASSWORD=
TRADELOCKER_SERVER=SERVER
TRADELOCKER_ACCOUNT_ID=
TRADELOCKER_ACC_NUM=
TRADELOCKER_DEVELOPER_API_KEY=

# Optional alerts
SLACK_WEBHOOK=
DISCORD_WEBHOOK=
